<!DOCTYPE html>
<html>
  <head>
    <title>JobbedOut</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to JobbedOut</h1>

    <section id="job-board">

    </section>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-job-modal">
      Add Job
    </button>

    <div id="add-job-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add a Job</h4>
          </div>
          <div class="modal-body">
            <form id="add-job-form">
              <input id="title" type="text" class="form-control" name="title" placeholder="Job Title">
              <input id="employer" type="text" class="form-control" name="employer" placeholder="Employer">
              <input id="hyperlink" type="text" class="form-control" name="hyperlink" placeholder="Hyperlink">
              <textarea id="description" class="form-control" name="description" placeholder="Job Description"></textarea>
              <input type="submit" class="btn btn-submit" value="Add Job!">
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
